:root {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

main {
    height: 100vh;
    text-align: center;
    /* overflow-y: none; */
    display: flex;
    flex-direction: column;

}

input {
    height: 6rem;
    width: 100%;
    border: solid 5px lime;
    font-size: 4rem;
    font-weight: bold;
    text-align: right;
    padding-right: 1rem;
}

.operacion, .bIgual {
    background-color: rgb(214, 131, 67);
}

@media screen and (min-width: 400px) {

    .buttoms {
        flex-grow: 1;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr) ;
        grid-template-rows: repeat(4, 1fr);
        background-color: rgb(211, 187, 142);
        color: white;
    }

    .buttom {
        border: solid 5px lime;
        font-size: 3rem;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .bIgual {
        grid-column: span 2;
    }


}

@media screen and (min-width: 750px) {

    .buttoms {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    body{
        height: 100vh;
    }
    .b6 {
        grid-column: 1;
        grid-row: 1;
    } 
    .b7 {
        grid-column: 2;
        grid-row: 1;
    }
    .b8 {
        grid-column: 3;
        grid-row: 1;
    } 
    .b9 {
        grid-column: 4;
        grid-row: 1;
    } 
    .b0 {
        grid-column: 5;
        grid-row: 1;
    } 
    .b1 {
        grid-column: 1;
        grid-row: 2;
} 
    .b2 {
        grid-column: 2;
        grid-row: 2;
    } 
    .b3 {
        grid-column: 3;
        grid-row: 2;
    } 
    .b4 {
        grid-column: 4;
        grid-row: 2;
    } 
    .b5 {
        grid-column: 5;
        grid-row: 2;
    } 
    
    .bIgual {
        grid-column-start: 3;
        grid-column-end: span 3;
        grid-row: 4;
    } 

    .bMas {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 3;
    } 
}
