<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/styles/style.css">
    <script type="module" src="/views/box.js"></script>
</head>
<body>
    <main>
        <header class="title">Boxes</header>
        <div class="cart-button" id="tDivCartButton">🛒</div>
        <table id="tTabBoxes">
            <thead>
                <tr>
                    <th>Denomination</th>
                    <th>Price</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </body>
    </main>
<footer>
    <input type="button" class="return" id="tButLog" value="<<Series">
</footer>
</html>