<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/styles/style.css">
    <script type="module" src="/views/cart.js"></script>
</head>
<body>
    <main>
        <header class="title">Cart</header>
        <table id="tTabCart">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </main>
</body>
</html>