<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/styles/style.css">
    <script type="module" src="/views/login.js"></script>
</head>
<body>
    <main>
        <form>
            <header>Inicio de sesion</header>
        
            <label>Usuario: </label>
            <input type="text" id="tTxtUsername" value="sonia.silverado">
        
            <label>Contraseña: </label>
            <input type="password" id="tPasPassword" value="s">
        
            <button type="button" id="tButValidate">Iniciar sesion</button>
        </form>
    </main>
</body>
</html>