<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/styles/style.css">
    <script type="module" src="/views/series.js"></script>
</head>
<body>
    <header class="user">
        <form class="userName">
            <div id="tUser"></div>
            <script>
                const nDiv = document.getElementById("tUser");
                nDiv.value = sessionStorage.getItem("fullname");
                document.write(nDiv.value);
            </script>
        </form>
        <input type="button" class="return" id="tButLog" value="<<Cerrar sesión">
        </header>
    <main>
        <header class="title">Series</header>       
        <table id="tTabSeries">
            <thead>
                <tr>
                    <th>denomination</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </main>
</body>
</html>