@font-face {
    font-family: "Blippo Bold";
    src: url(/views/styles/Blippo\ Bold.ttf);
}

:root {
    font-family: "Blippo Bold" ,Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    /* justify-content: center; */
    background-image: url(/views/styles/CINEFONDO-0620.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main {
    display: grid;
    place-items: center;
    /* justify-self: center; */
    gap: 3rem;
}

form {
    /* border: solid 2px black; */
    display: grid;
    grid-template-columns: auto auto;
    /* margin: 1rem; */
    gap: 1rem;
    background-color: aquamarine;
    border-radius: 10%;
    /* overflow-x: hidden; */
}

form>header {
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    grid-column: span 2;
    text-align: center;
    color: darkorange;
}

label {
    text-align: right;
    font-weight: bold;
    margin: 5px;
    color: orange;
}

input[type="text"], input[type="password"] {
    font-size: 1rem;
    background-color: cornflowerblue;
    margin: 5px;
    color: gold;
}

button {
    grid-column: span 2;
    font-size: 2rem;
    font-weight: bold;
    background-color: aqua;
    border-radius: 40px;
    color: darkblue;
}


table, thead, tbody, tr, th, td {
    border: solid 2px green;
    border-collapse: collapse;
    background-color: darkgoldenrod;
    font-size: 1.5rem;
    text-align: center;
}

/* header>input {
    justify-self: left;
} */

.title {
    font-size: 5rem;
    background-color: teal;
    color: chartreuse;
} 

footer {
    justify-self: left;
}

.return {
    background-color: cyan;
    font-size: 1.5rem;
    color: blue;
}

.userName {
    background-color: white;
}